<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <%- include('./partials/header.ejs')%>

  <h1>Hello World!</h1>
  <p>Hello <%= locals.user.person.name%></p>
  <p>You are a <%=locals.user.person.professionalHeadline%></p>
  <h2>Your skills are</h2>
  <% locals.user.strengths.forEach(strength => { %>
    <p><%=strength.name%></p>
  <%})%>
</html>
