<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <head>
    <link rel="stylesheet" href="/css/styles-profile.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section class="info">
        <img src="<%=locals.user.person.picture%>" alt="user profile picture"/>
        <div class="info-title">
          <h2><%= locals.user.person.name%></h2>
          <h3><%=locals.user.person.professionalHeadline%></h3>
          <h4><%=locals.user.person.location.shortName%></h4>
        </div>
      </section>

      <section class="bio">
        <p><%=locals.user.person.summaryOfBio%></p>
      </section>

      <section class="skills">
        <h2>Your skills are</h2>
        <div class="skills-container">
          <% locals.user.strengths.forEach(strength => { %>
            <a href="/users/<%= locals.user.person.publicId %>/strengths/<%=strength.id%>">
              <p><%=strength.name%></p>
            </a>
            <%})%>
        </div>
      </section>
    </main>
   
    
    
  </body>
</html>
