<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <head>
    <link rel="stylesheet" href="/css/styles-profile.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section class="info">
        <img src="<%=locals.user.person.picture%>" alt="user profile picture" />
        <div class="info-title">
          <h2><%= locals.user.person.name%></h2>
          <h3><%=locals.user.person.professionalHeadline%></h3>
          <h4><%=locals.user.person.location.shortName%></h4>
        </div>
      </section>

      <section class="bio">
        <p><%=locals.user.person.summaryOfBio%></p>
      </section>

      <section class="skills-container">
        <h2>Skills & Interests:</h2>

        <%locals.strengthsLevel.forEach(strengthLevel => {%> 
        <% if (locals.user.strengths.some(strength => strength.proficiency === strengthLevel.name)) {%>

        <h3><i class="<%= strengthLevel.icon%>"></i> <%=strengthLevel.name%></h3>
        
        <article class="skills">
          <% locals.user.strengths.forEach(strength => { %> 
            <%if(strength.proficiency===strengthLevel.name) {%>
              <a href="/users/<%= locals.user.person.publicId %>/strengths/<%=strength.id%>">
                <p><%=strength.name%></p>
              </a>
            <%}%> 
          <%})%>
        </article>
        <%}%> 
        <%})%>
      </section>
    </main>
  </body>
</html>
