<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <head>
    <link rel="stylesheet" href="/css/styles-skill.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <h1><%=locals.strength.name%></h1>
      <section class="strength-info">
        <p>Proficiency: <strong><i class="<%=icon%>"></i> <%= locals.strength.stats.proficiency%></strong></p>
        <p>Recomendations: <strong><%= locals.strength.stats.recommendations%></strong></p>
        
        <div class="back-button">
          <a href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a>
        </div>
      </section>

      <section class="experiences">
        <h2><%=locals.user.person.name.split(" ")[0]%>'s related experiences</h2>

        <%locals.strength.relatedExperiences.forEach(experience => { %> 
          <%if(experience.category === 'jobs') {%>
            <a href="/users/<%= locals.user.person.publicId %>/experiences/<%=experience.id%>"><h3><%=experience.name%></h3></a>

            <p><%=experience.organizations[0].name%></p>
            <p>From <%=`${experience.fromMonth} ${experience.fromYear}`%> 
              <% if(typeof experience.toMonth !=='undefined') {%> <%=`to ${experience.toMonth} ${experience.toYear}`%> 
              <%}%>
            </p>
          <%}%>
        <%})%>
      </section>
    </main>
  </body>
</html>
